@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark * {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

@keyframes scaleUp {
  0% { transform: scale(0.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-scaleUp {
  animation: scaleUp 2s ease-out forwards;
}
